body {
  font-family: sans-serif;
  text-align: center;
}

.dark {
  color: white;
  background-color: #333;
}

.light {
  color: #333;
  background-color: white;
}

.offline {
  color: red;
  font-weight: 700;
}

.online {
  color: green;
  font-weight: 700;
}
